.loader-card-body {
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.loader-card {
  margin: 5px;
  display: block;
  width: 260px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid lightgrey
}

.loader-card-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.loader-card-description {
  font-size: smaller;
  height: 3em;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  animation-duration: 5s
}

.loader-card-container-details {
  padding-left: 15px;
  width: 100%
}

.loader-card-container-details-options {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: small;
}

.loader-card-container-details-rating {
  margin-top: 5px;
  width: 70px;
  height: 15px;
  animation-duration: 8s
}

.loader-card-container-details-name {
  width: 120px;
  height: 15px;
  animation-duration: 8s
}

.loader-card-container-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-duration: 15s
}

.loader-card-image {
  position: relative;
  height: 200px;
}

.widget-play_btn {
  cursor: progress;
}