.carousel-view {
    display: flex;
}

.carousel-view-arrow-mobile {
    height: 70px;
    align-self: center;
    width: 10%
}

.carousel-view-arrow-desktop {
    height: 70px;
    align-self: center;
    width: 2%
}