.mobile-starIcon {
    width: 17px;
    height: 17px;
}

.mobile-modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-modal-player {
    height: 40vh
}

.mobile-modal-footer {
    height: 46vh;
    position: relative;
    display: flex;
    flex-direction: column;

}

.mobile-modal-info {
    margin: 10px;
    /* max-height: 63%; */
    display: flex;
    flex-direction: column;
}

.mobile-modal-info-user {
    display: flex;
    min-height: 55px
}

.mobile-modal-info-user-thumbnail {
    margin-right: 15px;
    height: 100%;
}

.mobile-modal-profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.mobile-modal-name {
    color: #00aeef;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-card-container-details-options {
    color: grey;
    font-size: small;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-modal-question {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    color: #666;
}

.mobile-modal-info-video {
    color: #9ca3a8;
    line-height: 1.5;
    text-align: justify;
    font-size: 14px;
    overflow: scroll;
    height: 100px;
}

.mobile-modal-playlist {
    /* position: absolute;
    bottom: 15px; */
    width: 100%;
}

.mobile-countdown {
	position: absolute;
	margin: auto;
	height: 80px;
	width: 80px;
	text-align: center;
	top: 15%;
	left: 40%;
}

.mobile-countdown-number {
	display: inline-block;
	line-height: 40px;
}

.loading-circle {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
	stroke-dasharray: 235px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 3px;
	stroke: #c0c0c0;
	fill: none;
	animation: countdown 3s linear infinite forwards;
}

@keyframes countdown {
	from {
		stroke-dashoffset: 0px;
	}
	to {
		stroke-dashoffset: 235px;
	}
}