.backdrop {
    position: fixed;
    overflow: scroll;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    padding-bottom: 0px
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0px;
}

.modal-close {
    text-align: right;
    background-color: black
}