.starIcon {
    width: 15px
}

.modal-body {
    position: relative;
    display: -webkit-box;
    background: white;
    margin-bottom: 15px
}

.modal-player {
    width: 65%;
    height: 300px;
    max-height: 300px;
    margin: 10px;
    position: relative;
}

.modal-info {
    position: absolute;
    top: 0px;
    margin-left: 20px;
    height: 300px;
    margin-top: 10px;
    margin-right: 10px
}

.modal-info-user {
    display: flex;
    height: 20%;
}

.modal-info-user-thumbnail {
    margin-right: 15px;
    margin-bottom: 15px
}

.modal-info-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-info-question {
    margin-bottom: 5px;
    font-size: 17px;
    color: #666;
    height: 15%;

}

.modal-info-video {
    color: #9ca3a8;
    line-height: 1.5;
    text-align: justify;
    font-size: 14px;
    height: 65%;
    overflow-y: scroll
}

.modal-playist {
    width: 99%
}

.player-loader {
	position: absolute;
	margin: auto;
	text-align: center;
	top: 25%;
    left: 45%;
    display: flex;
    flex-direction: column;
    width: 60px;
}

#countdown-number {
	display: inline-block;
	line-height: 40px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
	width: 60px;
	height: 60px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
	stroke-dasharray: 235px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 3px;
	stroke: #c0c0c0;
	fill: none;
	animation: countdown 5s linear infinite forwards;
}

@keyframes countdown {
	from {
		stroke-dashoffset: 0px;
	}
	to {
		stroke-dashoffset: 235px;
	}
}