.record_align-center {
    margin-top: 15px;
    position: relative;
    text-align: center;
}

.widget-divider {
    background: #1fbaee;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 45%;
}

.record_youplus-logo {
    position: absolute;
    right: 2%;
    top: 50px;
}

.record_poweredBy {
    color: #9CA3A8;
    font-size: 12px;
}

.widget-cta {
    transition: all .2s ease-in-out;
    background-color: #1fbaee;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.widget-cta-hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    animation-duration: 2s;
    background-color: #1fbaee;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    position: relative;
}

.opinion_record_button {
    position: absolute;
    width: 50px;
    top: -10%;
    padding-left: 5px
}