.icon_star {
    width: 20px;
}

.card {
    width: 90%;
    height: 360px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid lightgrey
}

.card-image {
    position: relative;
    height: 200px;
}

.card-image-thumbnail {
    height: 200px;
    width: 100%;
}

.card-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.card-container-details {
    padding-left: 15px;
    width: 100%;
    margin-top: 5px;
}

.card-container-details-name {
    color: rgb(31, 186, 238);
}

.card-container-details-rating {
    display: flex;
    margin-top: '-8%'
}

.card-container-details-options {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: small;
}

.card-description {
    font-size: smaller;
    line-height: 1.2em;
    overflow: hidden;
    padding-top: 10px;
    font-weight: 520;
    padding-left: 15px;
    padding-right: 15px
}

.widget-play_btn {
    transition: all .2s ease-in-out;
    width: 100px;
    position: absolute;
    top: 25%;
    left: 30%;
    cursor: pointer
}

.card-container-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}