.desktop_backdrop {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    padding: 50px
}

.desktop_modal {
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 10px;
    max-width: 1000px;
    min-height: 300px;
    max-height: 650px;
    position: relative;
    background-color: transparent;
}

.desktop_modal-close {
    float: right;
    cursor: pointer;
}