.play_card_image {
    position: relative;
}

.playlist_nowPlaying {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
}

.playlist_arrows {
    height: 70px;
    align-self: center;
}

.playlist_carousel {
    display: flex;
}