@import '~react-alice-carousel/lib/alice-carousel.css';
.Widget {
  font-family: 'HelveticaNeue'
}

.alice-carousel {
  padding: 0;
  margin: 0;
}

.alice-carousel__wrapper {
  border: none;
}

.video-react {
  position: absolute;
  height: -webkit-fill-available;
}