.webcam-video {
  height: 300px !important;
  padding: 2px;
  width: 100%;
  margin-bottom: 10px;
  background: black;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.yp_widget_hr,
.yp_widget_hr_modal {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #1fbaee;
  position: absolute;
  width: 85%;
  z-index: 0;
  top: 15px;
}

.yp_widget__record-modal-btn,
.yp_widget__thanks-modal-btn {
  display: inline-block;
  width: 240px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  height: 42px;
}

.yp_widget__thanks-modal-btn {
  background: #26ab6e;
}

.yp_widget__record-modal-btn {
  background: red;
}

.yp_widget_hr_modal {
  z-index: 1;
  width: 80%;
}
.yp_widget__powered_logo {
  position: absolute;
  display: inline-block;
  top: 22px;
  right: 0;
  width: 170px;
  background: #fff;
  z-index: 1;
}

.yp-play-powered,
.yp-powered {
  width: 140px;
  float: right;
  position: absolute;
  background: #fff;
}

.yp-powered {
  right: 0;
  top: 22px;
  padding-left: 10px;
  z-index: 1;
}

.yp-play-powered {
  right: 20px;
  top: 385px;
  padding-top: 10;
}

.email-style {
  font-size: 16px;
  margin: 20px auto 30px;
  padding: 0 10px;
  height: 60px;
  border: 1px solid #9ca3a8;
  display: block;
  width: 270px;
  color: black;
}

#record-button:hover,
#redo-button:hover {
  transition: transform 0.2s, opacity 0.9s;
  transform: scale(1.1);
}

#record-button {
  height: 42px;
  width: 42px;
}

#record-stop {
  display: inline-block;
  vertical-align: middle;
}

#recorded-time,
#recording-time {
  display: inline-block;
  vertical-align: middle;
}

#recording-time {
  padding-left: 30px;
}

#recorded-time {
  padding-left: 36px;
}

#below-text,
#record-vid-div-below-text {
  text-align: center;
  font-weight: 300;
  padding: 15px 30px;
  color: #000;
  margin-top: 10px;
}

#upload-button {
  background-color: #1fbaee;
  color: #fff;
  display: inline-block;
  padding: 20px 100px;
  width: 270px;
  cursor: pointer;
}

#controls {
  color: #fff;
  padding: 5px;
  text-align: center;
  position: relative;
}

#email-field {
  padding-bottom: 70px;
}

#thanks-text {
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
}

@media only screen and (min-width: 300px) and (max-width: 667px) {
  .yp-powered {
    display: none !important;
  }
}